header{
    background-color: aqua;
}

nav ul li a{
    text-decoration:none;
    color: blue;

}
nav ul li a.active{
    color: red;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.article2{
    border: solid black;
}